<!DOCTYPE html> 
{% load staticfiles %}
<html>
<head>
	<title>{% block mytitle %} {% endblock %}</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
	<link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
	{% block css_js %} {% endblock %}
</head>

<body>
<div class="container">
<nav class="navbar navbar-inverse navbar-embossed " role="navigation">
	<div class="collapse navbar-collapse" id="navbar-collapse-01">
	    <ul class="nav navbar-nav">
				<li id="home"><a href="{% url 'complaint_portal:index' %}">Home</a></li><!-- change active property with help of js -->
				<li id="all_complains"><a href="{% url 'complaint_portal:all_complains' %}">All Complaints</a></li>
				<li id="leader_board"><a href="{% url 'complaint_portal:ranking' %}">Leader Board</a></li>
				<li id="complain"><a href="{% url 'complaint_portal:complainform' %}">Complain</a></li>
				{% if user.is_authenticated %}
				<li id="myusername"><a href="{% url 'complaint_portal:userprofile' %}">{{ user.username }}</a></li>
				{% endif %}
				{% if user.is_authenticated %}
				<li style="position:absolute; right:0"><a href="{% url 'complaint_portal:logout' %}">Logout</a></li>
				{% endif %}
		</ul>
	</div>
</nav>
</div>
	<div align="center" class="container">
		<ul class="nav nav-pills">
			<li class="active" id="localfeeds"><a href="{% url 'complaint_portal:userprofile' %}">Local Feeds</a></li>
			<li id="complains_my"><a href="{% url 'complaint_portal:mycomplains' %}">My Complaints</a></li>
			<li id="profile_update"><a href="{% url 'complaint_portal:profile_update' %}">Update Profile</a></li>
		</ul>
	</div>
	<br />
	<div>
		{% block mycontent %}
		{% endblock %}
	</div>
	
</body>
</html>