<!DOCTYPE html> 
{% load staticfiles %}
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
	<script type="text/javascript" src="{% static 'complaint_portal/js/check_password.js' %}"></script>
	<link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
	{% block css_js %}{% endblock %}
</head>

<body>

	<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
	<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'complaint_portal:index' %}">Anand Complaint Portal</a>
    </div>
		<div class="collapse navbar-collapse" id="navbar-collapse-01">
		    <ul class="nav navbar-nav">
				<!--<li id="home"><a href="{% url 'complaint_portal:index' %}">Complaint portal</a></li>--><!-- change active property with help of js -->
				<li id="all_complains"><a href="{% url 'complaint_portal:all_complains' %}">All Complaints</a></li>
				<li id="leader_board"><a href="{% url 'complaint_portal:ranking' %}">Leader Board</a></li>
				<li id="complain"><a href="{% url 'complaint_portal:complainform' %}">Complain</a></li>
				<li id="faq"><a href="{% url 'complaint_portal:faq' %}">FAQ</a></li>
				{% if user.is_authenticated %}
				<li id="myusername"><a href="{% url 'complaint_portal:userprofile' %}">Welcome,{{ user.username }}</a></li>
				{% endif %}
				{% if user.is_authenticated %}
				<li style="position:absolute; right:0"><a href="{% url 'complaint_portal:logout' %}">Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<div>
		{% block content %}
		{% endblock %}
	</div>

	
</body>
</html>