{% load staticfiles %}
<title>Admin Register</title>


<head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
<link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
<style>
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 10px;
padding-bottom: 10px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
</style>

</head>

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-lg-7">
                <h2 class="h2">
                    Admin Register</h2>
            </div>
        </div>
    </div>
</div>		
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form action="{% url 'complaint_portal:adminregister' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">
                                Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Enter username" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="password">
                                Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">
                                Confirm Password</label>
                            <input type="password" name="confirm_password"class="form-control" id="confirm_password" placeholder="Confirm Password" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="firstname">
                                Firstname</label>
                            <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Enter firstname" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="lastname">
                                Lastname</label>
                            <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Enter lastname" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="phone">
                                Phone</label>
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="Enter phone no." required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label>Position</label><br />
                            <input type="radio" name="position" value="1" id="position1">
                            <label for="position1">Middlemen</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="position" value="2"  id="position2">
                            <label for="position2">Govt. Employee</label>
                        </div>
                        <div class="form-group">
                            <label for="locality">
                                Locality</label>
                            <select id="locality" name="locality" class="form-control" required="required">
                                {% for place in places %}
									<option value="{{ place.local_name }}">{{ place.local_name }}</option>
								{% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address">
                                Address</label>
                            <textarea name="address" id="address" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Address"></textarea>
                        </div>
                        <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-left" id="complainbtn" value="Register">
                            Register</button>
                    	</div>	
                    </div>
                 	
                </div>
                </form>
            </div>
        </div>
    </div>
</div>   
