{% extends 'base_all_complains.html' %}
{% load staticfiles %}
{% block title %}Complains{% endblock %}

{% block css_js %}
<style>
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
</style>
<script>
$(document).ready(function(){
	/*var x = $('.desc').html();
	if(x.length > 5){
		var y = x.substring(0,5)+"...";
		$('.desc').html(y);
	}*/
});
function changecontent(id){
		console.log(id);
		console.log($('#'+id).html());
		if($('#'+id).html()=="Show more")
		{	
			$('#'+id).html("Show less");
		}
		else{
			$('#'+id).html("Show more");
		}
}
function sendcomment(id){
	console.log(id);
	$.ajax({
		url:"http://localhost:8000/complaint_portal/comment/"+id,
		type:"GET",
		data:jQuery("#content"+id).serialize(),
		success:function(d){
			console.log(d['done']);
			$('#done'+id).html(d['done']);
		},
		error:function(d){
			console.log(d['done']);
			$('#done'+id).html('Error');	
		}
	});
}

function upvoting(c_id){
$.post("http://localhost:8000/complaint_portal/upvote/2",{complain_id:"c_id"})
	.done(function(my_data){
		alert(my_data);
	});
}
</script>
{% endblock %}

{% block filters %}
<div class="col-md-4 " >
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
     		Filter By Place
      		<span class="caret"></span>
    		</button>
    		<ul class="dropdown-menu">
			<li><a href="{% url 'complaint_portal:all_complains' %}">All</a></li>
			{% for place in places %}
				<li><a href="{% url 'complaint_portal:hloc_filter' place.id %}">{{ place.local_name }}</a></li>
			{% endfor %}	
			</ul>
    	</div>
</div>

<div class="col-md-4 ">
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
     		Filter By Type
      		<span class="caret"></span>
    		</button>
			<ul class="dropdown-menu">
			<li><a href="{% url 'complaint_portal:all_complains' %}">All</a></li>
			{% for type in types %}
				<li><a href="{% url 'complaint_portal:htype_filter' type.id %}">{{ type.name }}</a></li>
			{% endfor %}	
			</ul>
    	</div>
</div>


{% endblock %}
{% block content %}
<br />
<div class="container">
<div class="panel-group" id="accordion">
	{% for complain in complain_list %}
	<div class="panel panel-info">
	    <div class="panel-heading">
	      <h3 class="panel-title">
	      {{ complain.title }}
			<span style="position:absolute; left:60%;"><i class="glyphicon glyphicon-time"></i> <span style="font-family:'Times New Roman', Times, serif;">{{complain.complain_date}}</span></span>
			<span style="position:absolute; left:80%;"><i class="glyphicon glyphicon-thumbs-up"></i><span style="font-family:'Times New Roman', Times, serif;" id="st{{complain.id}}">{{complain.upvotes}}</span></span>
	      	
	      <br />
	      <span class="desc">{{complain.description}}.....</span>

	      <a data-toggle="collapse" data-parent="#accordion" href="#{{forloop.counter}}" style="font-family:'Times New Roman', Times, serif;color:#00CC66;" id="show{{forloop.counter}}" onclick="changecontent('show{{forloop.counter}}')">Show more</a>
	      {% if user.is_authenticated %}	
	      <a data-target="#myModal{{complain.id}}" data-toggle="modal" style="position:absolute;left:80%;font-family:'Times New Roman', Times, serif;color:#00CC66;">Give a Update</a>	
	  		</h3>
	      	
					
					 <div class="modal fade" id="myModal{{complain.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title">Add Update</h4>
					      </div>
					      <div class="modal-body">
					        		<textarea class="form-control" rows="3" name="content" id="content{{complain.id}}" placeholder="Enter comment"></textarea>

					      </div>
					      <div class="modal-footer">
					      	<span id="done{{complain.id}}" style="float:left;"></span>
					        <input type="submit" name="comment" class="btn btn-info" value="Comment" 
					        onclick="sendcomment({{complain.id}})">
					
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
		  {% endif %}
	      </h3>
	    </div>
		{% if forloop.counter != -1 %}
	    	<div id="{{forloop.counter}}" class="panel-collapse collapse"> 
	    {% else %}	
	    	<div id="{{forloop.counter}}" class="panel-collapse collapse in">
	     {% endif %}
	<!-- <div class="well" style="background-color:#D1EEEE "> -->
		<div class="panel-body" style="background-color:#F4F4F4">
		<article class="search-result row">
		</br>
			<div class="col-xs-8 col-sm-8 col-md-3">
				<a href="{% static complain.complain_image %}" title="{{complain.title}}" class="thumbnail" target="_blank"><img src="{% static complain.complain_image %}" alt="{{complain.title}}" style="max-width:100%;max-height:100%;" /></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<ul class="meta-search">
					<li><i class="glyphicon glyphicon-tags"></i> <span>{{complain.type_of_complain}}</span></li>
					<li><i class="glyphicon glyphicon-tags"></i> <span>{{complain.complain_place}}</span></li>
					<li><i class="glyphicon glyphicon-time"></i> <span>By:{{complain.c_user.username}}-{{complain.c_user.userinfos.total_upvotes}}</span></li>
				</ul>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-6 excerpet">
				<p style="font-family:'Times New Roman', Times, serif;">{{complain.title}} </p>
				<p style="font-family:'Times New Roman', Times, serif;">{{complain.description}} </p>
                <a href="{% url 'complaint_portal:details' complain.id %}"style="font-family:'Times New Roman', Times, serif;" target="blank">Details</a>
                
                {% if complain.govt_complain_status == 1 %}
					  <div class="span4">
						  Complain Validated<span class="pull-right">Sent to govt. employee</span>
						  <div class="progress progress-striped active">
						      <div class="progress-bar progress-bar-info" style="width:50%;"></div>
						  </div>
					  </div>
                {% elif complain.govt_complain_status == 2 %}
                	 <div class="span4">
						  Rejected Complain<span class="pull-right">Show Reason</span>
						  <div class="progress progress-striped active">
						      <div class="progress-bar progress-bar-danger" style="width:100%;"></div>
						  </div>
					  </div>
                {% elif complain.govt_complain_status == 4 or complain.govt_complain_status == 6 %}
                	<div class="span4">
						  Work in progress<span class="pull-right">Deadline:{{complain.end_date}}</span>
						  <div class="progress progress-striped active">
						      <div class="progress-bar progress-bar-warning" style="width:75%;"></div>
						  </div>
					  </div> 
                {% elif complain.govt_complain_status == 3 %}
                	<div class="span4">
						  Completed<span class="pull-right"></span>
						  <div class="progress progress-striped active">
						      <div class="progress-bar progress-bar-success" style="width:100%;"></div>
						  </div>
					  </div> 
                {% else %}
                	<div class="span4">
						  Submitted not reviewed<span class="pull-right"></span>
						  <div class="progress progress-striped active">
						      <div class="progress-bar progress-bar-info" style="width:25%;"></div>
						  </div>
					  </div> 
                {% endif %}	   		
	            {% if user.is_authenticated %}
					<div class="col-xs-12 col-sm-12 col-md-3">
 					<ul class="meta-search">
 						<button type="submit" class="btn btn-primary btn-lg" value="{{complain.id}}">
   							<span class="glyphicon glyphicon-thumbs-up" value="{{complain.id}}" ></span> 
 						</button>
 
 					</ul>
 					</div> 
				{% endif %}
			</div>
			<span class="clearfix borda"></span>
		</article>
		</div> 
	</div>
	{% endfor %}	
</div>
</div>
{% endblock %}

{% ifequal complain.govt_complain_status 0 %}
				<form action="{% url 'complaint_portal:complain_update' complain.id %}" method="get">
					{% csrf_token %}
					<input type="submit" name="upvote" class="btn btn-success" value="Update Complain Info">
				</form>
				{% endifequal %}
				{% 	if complain.govt_complain_status == 3 %}
				<form action="{% url 'complaint_portal:user_complete' complain.id %}" method="post" class="form-inline" role="form">
				{% csrf_token %}
				<input type="submit" name="complete" class="btn btn-info" value="Complete" onclick="return confirm('Are you sure you want to mark complain as Complete?')" >
        		<input type="submit" name="notcomplete" class="btn btn-danger" value="Not Complete">
        		</form>
				{% endif %}
                