{% extends 'base_all_complains.html' %}
{% load staticfiles %}
{% block title %}Complains{% endblock %}

{% block css_js %}
<style>
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
</style>
<script>
function upvoting(c_id){
$.post("http://localhost:8000/complaint_portal/upvote/2",{complain_id:"c_id"})
	.done(function(my_data){
		alert(my_data);
	});
}
</script>
{% endblock %}

{% block filters %}
<li>
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By Place <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><a href="{% url 'complaint_portal:all_complains' %}">All</a></li>
	{% for place in places %}
		<li><a href="{% url 'complaint_portal:hloc_filter' place.id %}">{{ place.local_name }}</a></li>
	{% endfor %}	
	</ul>
</li>	
<li>
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By Type <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><a href="{% url 'complaint_portal:all_complains' %}">All</a></li>
	{% for type in types %}
		<li><a href="{% url 'complaint_portal:htype_filter' type.id %}">{{ type.name }}</a></li>
	{% endfor %}	
	</ul>
{% if user.is_authenticated %}
<li id="myusername"><a href="{% url 'complaint_portal:userprofile' %}">Welcome, {{ user.username }}</a></li>
{% endif %}

</li>
{% endblock %}
{% block content %}
<div class="container">
<section class="col-xs-12 col-sm-6 col-md-12">
	{% for complain in complain_list %}
		<article class="search-result row">
			<div class="col-xs-8 col-sm-8 col-md-3">
				<a href="{% static complain.complain_image %}" title="{{complain.title}}" class="thumbnail" target="_blank"><img src="{% static complain.complain_image %}" alt="{{complain.title}}" style="max-width:100%;max-height:100%;" /></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-3">
				<ul class="meta-search">
					<li><i class="glyphicon glyphicon-tags"></i> <span>{{complain.type_of_complain}}</span></li>
					<li><i class="glyphicon glyphicon-time"></i> <span>{{complain.complain_date}}</span></li>
					<li><i class="glyphicon glyphicon-tags"></i> <span>{{complain.complain_place}}</span></li>
					<li><i class="glyphicon glyphicon-tags"></i> <span>Upvotes:{{complain.upvotes}}</span></li>
				</ul>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-6 excerpet">
				<h3><a href="#" title="">{{complain.title}}</a></h3>
				<p>{{complain.description}} </p>						
                <!--<span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span> Link for details -->
                {% if complain.govt_complain_status == 1 %}
                	<p><b>Status</b>:Accepted and forwarded to government employee for solving.</p>
                {% elif complain.govt_complain_status == 2 %}
                	<p><b>Status</b>:Rejected</p>
                {% elif complain.days_to_solve != -1 %}
                   	<p><b>Days for completion</b>: {{complain.days_to_solve}}</p>
                {% elif complain.govt_complain_status == 3 %}
                	<p><b>Status</b>:Completed</p>
                {% else %}
                	<p><b>Status</b>:Submitted but not reviewed</p>
                {% endif %}	   		
				{% if user.is_authenticated %}
					<a href="#" onclick="upvoting({{complain.id}})">Upvote</a>
				{% endif %}
				
			</div>
			<span class="clearfix borda"></span>
		</article>
	{% endfor %}	
</section>
</div>
{% endblock %}