{% extends 'base.html' %} 
{% load staticfiles %}
{% block title %}Complain Form{% endblock %}
{% block css_js %}
<style>
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 10px;
padding-bottom: 10px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
</style>
{% endblock %}

{% block content %}
<div>
	<!--<h2>Complain Form</h2> -->
<div class="jumbotron jumbotron-sm" style="background-image:url('{% static "complaint_portal/images/yellow5.jpg" %}') ;background-repeat:repeat-x;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 class="h2">
                    Complaint Form</h2>
            </div>
        </div>
    </div>
</div>
		
<div class="container">
{% if msg %}
	{{ msg }}
{% endif %}	
{% if user.is_authenticated %}
		<!-- Nothing -->
{% else %}
	<a href="{% url 'complaint_portal:login' %}">Login Required to Complain</a>
{% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!--<div class="well well-sm">-->
                <form action="{% url 'complaint_portal:complainform' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Title</label>
                            <input type="text" name="title" class="form-control" id="title" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="Complain Place" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Complain Place</label>
                            <select id="complain_place" name="complain_place" class="form-control" required="required">
                                {% for place in places %}
									<option value="{{ place.local_name }}">{{ place.local_name }}</option>
								{% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Complain Type" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Complain Type</label>
                            <select id="type_of_complain" name="type_of_complain" class="form-control" required="required">
                                {% for type in types %}
									<option value="{{ type.name }}">{{ type.name }}</option>
								{% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Description</label>
                            <textarea name="description" id="description" class="form-control" rows="7" cols="25" required="required"
                                placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="complain_address" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Address Of Complaint</label>
                            <textarea name="complain_address" id="complain_address" class="form-control" rows="7" cols="25" required="required"
                                placeholder="Address"></textarea>
                        </div>
                        <div class="form-group">	
    	    	            <label for="complain_image" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
	    	    	            Image for complain(optional)</label>
							<input type="file" name="complain_image" id="complain_image" class="form-control">
						</div>
						<div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-left" id="complainbtn" value="Complain">
                            Complain</button>
                    	</div>	
                    </div>
                 	
                </div>
                </form>
            </div>
        <!--</div>-->
    </div>
</div>  
</div>
<br />
<br />
{% endblock %}              	