{% extends 'base_profile.html' %} 
{% block mytitle %}Complaint Update{% endblock %}

{% block mycontent %}
<div>
	<form action="{% url 'complaint_portal:complain_update' %}" method="post">
	{% csrf_token %}
		<label for="title">Title</label>
		<input type="text" name="title" id="complainform_title" value="{{ complain_info.title }}"/>
		<br />
		<label for="complain_type">Type of Complain</label>
		<select name="complain_type" value="{{ complain_info.complain_type }}" id="complainform_complain_type">
			{% for type in types %}
				<option value="{{ type }}">{{ type }}</option>
			{% endfor %} 
		</select>
		<br />
		<label for="complain_place">Place of Complain</label>
		<select name="complain_place" id="complainform_place" value="{{ complain_info.complain_place }}">
			{% for place in places %}
				<option value="{{ place }}">{{ place }}</option>
			{% endfor %}
		</select>
		<br />
		<label for="description" >Description</label>
		<textarea name="description" id="complainform_description" value="{{ complaininfo.description }}">Description</textarea>
		<br />
		<label for="complain_address">Address of Complain</label>
		<textarea name="complain_address" id="complainform_address" value="{{ complaininfo.complain_address }}">Address</textarea>
		<br />
		<label for="complain_image">Image for complain(optional)</label>
		<input type="file" name="complain_image" id="compalinform_image" value="{{ complaininfo.complain_image }}">
		<br />
		<input type="submit" value="Complain">
	</form>
</div>
{% endblock %} 
