{% load staticfiles %}
<!--Authors:Saurabh
discussion forum between govt employee and middlemen
-->
<head>
<title>Discussion Forum</title>
<script type="text/javascript" src="{% static 'complaint_portal/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
<link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
</head>

<div class="container" style="font-family:serif;">
<h2>Discussion Forum </h2>
<p><b>Title</b>:{{complain.title}}</p>
<p><b>Description</b>:{{complain.description}}</p>
<p><b>Date</b>:{{complain.complain_date}}</p>
<div class="panel panel-primary">
  <div class="panel-heading" style="font-family:serif;">Comments</div>
</div>

{% for comment in comments %}
<div class="well" style="background-color:#5bc0de;font-family:serif;">
	<b>{{comment.comment_user}}</b> : {{comment.content}}<br />
	{{comment.comment_date}}

</div>	
{% endfor %}
<div>
<form action="{% url 'complaint_portal:dforum' complain.id %}" method="post">	
	{% csrf_token %}
	<textarea class="form-control" rows="3" name="content" id="content" placeholder="Enter comment"></textarea>
		
		<div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-right" value="Comment">
                Comment</button>
        </div>
        <br />
</form>        
</div>	
</div>	