{% load staticfiles %}
<!--Authors:Shikha
not used
-->
<head>
<title>Comments</title>
<script type="text/javascript" src="{% static 'complaint_portal/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
<link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
</head>

<div class="container">
<h3>Updates </h3>
<div class="panel panel-primary">
  <div class="panel-heading">Comments</div>
</div>

{% for comment in comments %}
<div class="well" style="background-color:#5bc0de;">
	<b>{{comment.comment_user}}</b> : {{comment.content}}<br />
	{{comment.comment_date}}

</div>	
{% endfor %}
