{% extends 'base.html' %} 
<!--Authors:Indrajeet
faq page
-->
{% load staticfiles %}
{% block title %}FAQ {% endblock %}

{% block content %}

<div class="well">
<h4 class="h4">Frequently Asked Questions</h4>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">1. What is the purpose of this Online Complaint Portal? </h3>
  </div>
  <div class="panel-body"><small>
    Online Complaint Portal is a site to help people report, view, or discuss local problems they’ve found to their local municipal corporation.</small>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. What sort of problems should I report with this Online Complaint Portal?</h3>
  </div>
  <div class="panel-body"><small>
    This Online Complaint Portal is primarily for reporting things which are broken or dirty or damaged or dumped, and need fixing, cleaning or clearing, such as: 
    <ul>
    <li>Abandoned vehicles </li>
    <li>Litter or Sewage Problems</li>
    <li>Streetcleaning or Pothole related problems</li>
    <li>Water Related Problems</li>
    <li>Fixing Street Lights</li> </ul></small>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">3. What isn’t this Online Complaint Portal for?</h3>
  </div>
  <div class="panel-body"><small>
    This online Complaint Portal is not a way of getting in touch with the Municipal Corporation for all issues. People will need to contact the respective Municipal Co-orperation directly for problems such as:
    <ul>
	  <li>Anti-social behaviour</li>
    <li>Noise pollution or barking dogs</li>
    <li>Fires and smoke/smell pollution</li>
    <li>Complaining about neighbours </li>
    <li>Complaining about the Municipal Coorperation </li></ul></small>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">4. How do I use this Online Complaint Portal?</h3>
  </div>
  <div class="panel-body"><small><ul>
      <li>All complaints shows all the complaints reported and provides an extra functionality of sorting and filtering by places as well as type  of complaint.</li>
      <li>To complain: </li><ul>
         <li>It is necessary to Login to Report any Complaint.</li>
         <li>If you are not a Registered user than first you have to register and then Login to Complain.</li>
         <li>After Login Description, Title , Type of Complaints and all necessary details are filled.</li>
         <li>After submission of Complaint, you get an email Notification whether the complaint is accepted or rejected (validated) by the Middlemen.</li>
         <li>The Middlemen validates and forwards the complaints to the government officials and then the government official provides the Time track. This will show you 'work in progree' on your status bar.</li>
         <li>After the time track provided by Government Official ends and if the Complaint is still not completed then you can mark it as not complete.</li>
      </ul>
 	    <li>LeaderBoard shows the total upvotes given to the user.</li>
      <li>Any complaint can be upvoted when you are logged in.</li>
    </ul></small></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">5. How are the problems solved?</h3>
  </div>
  <div class="panel-body"><small>
  The reported complains are then passed on to the Middlemen who accepts/rejects the complains after validating it. The accepted complaints are passed on the Municipal Coorporation and then the government provides a time track for the complain to be solved.You get an email notification by the Middlemen if your complain is accepted/rejected. The government official recieves the complaint for their own departments and provides the Time Track for that complaint. The government marks the status as completed when it is solved. The user can also mark the complaint as complete/not complete if he is satisfied or not and provide the reason if not satisfied.
  </small></div>
</div>

{% endblock %}  







