{% extends 'base.html' %} 
{% load staticfiles %}
{% block title %}FAQ {% endblock %}

{% block content %}

<div class="well">
<h4 class="h4">Frequently Asked Questions</h4>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">1. What is the purpose of Online Complaint Portal? </h3>
  </div>
  <div class="panel-body"><small>
    Online Complaint Portal is a site to help people report, view, or discuss local problems they’ve found to their local municipal corporation without standing up in a long queue.</small>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. What sort of problems should I report with this Online Complaint Portal?</h3>
  </div>
  <div class="panel-body"><small>
    This Online Complaint Portal is primarily for reporting things which are broken or dirty or damaged or dumped, and need fixing, cleaning or clearing, such as: 
    <ul>
    <li>Abandoned vehicles </li>
    <li>Litter </li>
    <li>Streetcleaning or Pothole related problems</li>
    <li>Fixing StreetLights</li> </ul></small>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">3. What isn’t this Online Complaint Portal for?</h3>
  </div>
  <div class="panel-body"><small>
    This online Complaint Portal is not a way of getting in touch with the Municipal Corporation for all issues. People will need to contact your Municipal Co-orperation directly for problems such as:
    <ul>
	<li>Anti-social behaviour</li>
    <li> Any urgent or emergency problems</li>
    <li>Noise pollution or barking dogs</li>
    <li> Fires and smoke/smell pollution</li>
    <li> Proposals for speed bumps/ CCTV/ pedestrian crossings/ new road layouts/ etc. </li>
    <li>Complaining about neighbours </li>
    <li>Complaining about the Municipal Coorperation </li></ul></small>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">4. How do I use the site?</h3>
  </div>
  <div class="panel-body"><small><ul>
    <li>All complains shows all the complains reported and provides an extra functionality of sorting and filtering by places as well as type of complain.</li>
    <li>To complain: </li><ul>
         <li>It is necessary to Login to Report any Complain.</li>
         <li>After Login Description, Title , Type of Complains and all necessary details.</li></ul>
 	<li>LeaderBoard shows the upvotes given to the reported complains.</li>
  </ul></small></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">5. How are the problems solved?</h3>
  </div>
  <div class="panel-body"><small>
  The reported complains are then passed on to the Middlemen who accepts/rejects the complains after validating it. The accepted complains are passed on the Municipal Coorporation and then the government provides a time track for the complain to be solved.You get an email notification by the Middlemen if your complain is accepted/rejected. 
  </small></div>
</div>

{% endblock %}  







