{% extends 'base.html' %} 
{% block title %}Forgot Password{% endblock %}

{% block content %}

{% if msg %}
	{{msg}}
{% endif %}
<div class="container">

<div class="row" style="margin-top:50px;position:relative;left:35%">
    <div class="col-xs-8 col-sm-6 col-md-4 col-sm-offset-2 col-md-offset-3">
		<form action="{% url 'complaint_portal:forgot_password' %}" method="post" role="form">
		{% csrf_token %}
			<fieldset>
				<h4>Forgot Password</h4>
				<hr class="colorgraph">
				<div class="form-group">
                    <input type="username" name="username" id="username" class="form-control input-lg" placeholder="Enter username">
				</div>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Continue">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

</div>

{% endblock %}