{% load staticfiles %}
<title>Goverment Employee Login</title>

<head>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
<link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
<style>
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 10px;
padding-bottom: 10px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
</style>	
</head>

<body>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-lg-8">
                <h2 class="h2">
                    Govt. Employee Login</h2>
            </div>
        </div>
    </div>
</div>		



<div class="container">
{% if msg %}
    {{ msg }}
{% endif %}

{% if user.is_authenticated %}
    You are logged in as <a href="{% url 'complaint_portal:govtadmin' %}"> {{user.username}} </a>
{% endif %}
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form action="{% url 'complaint_portal:glogin' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">
                                Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Enter username" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="password">
                                Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" required="required" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-left" id="loginbtn" value="Login">
                            Login</button>
                    </div>
                </div>
                </form>
                
            </div>
        </div>
    </div>
</div>  


</body>
</html> 
