{% load staticfiles %}
<head>
<title>Government Admin</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
<link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
</head>

<div class="container">
	<nav class="navbar navbar-inverse navbar-embossed " role="navigation">
		<div class="collapse navbar-collapse" id="navbar-collapse-01">
		    <ul class="nav navbar-nav">
				<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By Place<b class="caret"></b></a>
				<ul class="dropdown-menu">
				<li><a href="{% url 'complaint_portal:govtadmin' %}">All</a></li>	
				{% for place in places %}
					<li><a href="{% url 'complaint_portal:gloc_filter' place.id %}">{{ place.local_name }} </a></li>
				{% endfor %}
				</ul>
				</li>
				<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By Type<b class="caret"></b></a>
				<ul class="dropdown-menu">
				<li><a href="{% url 'complaint_portal:govtadmin' %}">All</a></li>	
				{% for type in types %}
					<li><a href="{% url 'complaint_portal:gtype_filter' type.id %}">{{ type.name }} </a></li>
				{% endfor %}
				</ul>
				</li>
				<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{% url 'complaint_portal:gdays_filter' %}">Only days to add Complain</a></li>
					<li><a href="{% url 'complaint_portal:gcomplete_filter' %}">Only Complete or Not Complain</a></li>
				</ul>
				</li>
				{% if user.is_authenticated and user.is_staff %}
				<li><a href="{% url 'complaint_portal:govtadmin' %}">{{user.username}}</a></li>
				<li><a href="{% url 'complaint_portal:glogout' %}">Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
</div>


<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">
		Title
		<span style="position:absolute; left:750">Complain Type</span>
		<span style="position:absolute; left:950">Complain Place</span>
		<span style="position:absolute; left:1150">Complain Date</span>
		<span style="position:absolute; left:550">Status</span>
		</h2>
	</div>
</div>		

<form method="post" action="{% url 'complaint_portal:days_or_complete' %}">
{% csrf_token %}
<div class="panel-group" id="accordion">
{% for f in complain %}
	<div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	      {% if f.end_date != null %}
	      <input type="checkbox" name="sel_complain" value="{{f.id}}" />
	      {% endif %}	
	      <a data-toggle="collapse" data-parent="#accordion" href="#{{forloop.counter}}">
	      {{ f.title }}
	      	<span style="position:absolute; left:550">
	      		{% if f.govt_complain_status == 1 %}
	      		Add days to solve
	      		{% elif f.govt_complain_status == 5 %}
	      		User not satisfied
	      		{% else %}
	      		Mark as Complete
	      		{% endif %}
	      	</span>
	      	<span style="position:absolute; left:750">{{f.type_of_complain}}</span>
			<span style="position:absolute; left:950">{{f.complain_place}}</span>
			<span style="position:absolute; left:1150">{{f.complain_date}}</span>
	      </a>  
	      </h4>
	    </div>
	    {% if forloop.counter != -1 %}
	    	<div id="{{forloop.counter}}" class="panel-collapse collapse">
	    {% else %}	
	    	<div id="{{forloop.counter}}" class="panel-collapse collapse in">
	    {% endif %}	
	      <div class="panel-body">	
	      <b>Description:</b>{{ f.description }}<br />
	      <b>Address:</b>{{ f.complain_address }} <br />
	      <b>Username: </b><a href="{% url 'complaint_portal:userprofile_admin' f.c_user.id %}" target="_blank">{{ f.c_user.username }}</a>  &nbsp;&nbsp;&nbsp;&nbsp;
	      <a href="{% static f.complain_image %}" target="_blank">Link to Image</a>
	      <br />
	      <div class="form-inline" role="form">
	      {% if f.end_date == null %}
		  <div class="form-group">
		    <label class="sr-only" >No. of days</label>
		    <input type="text" class="form-control" id="num_days" placeholder="Enter days to complete" name="num_days">
		  </div>
		  <button type="submit" class="btn btn-primary" name="complain_id" value="{{f.id}}">Submit</button>
		  {% endif %}
		  </div>	
	      </div>

	    </div>
	  </div>
	{% endfor %}
	</div>
</div>
<br />
<br />

<input type="submit" name="complete" class="btn btn-success" value="Complete" onclick="return confirm('Are you sure you want to mark complains as complete?')" style="position:relative; top:80%; left:40%;">
</form>