{% extends 'base_index.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

	


{% block content %}


     <div class="container" >
      <div class="row" style="align:center;">
      
        <div class="col-md-4">
          <h6 style="color:rgb(52,73,94);margin-left:100px;font-weight:bold;">Complaints<br> Submitted</h6>
          <p style="color:rgb(52,73,94);text-align:center;font-size:50px;font-weight:bold;">{{ total_comp }} </p>
          
        </div>
        <div class="col-md-4">
        <img src="{% static 'complaint_portal/images/hello.jpg' %}" width="100" height="150" style="margin-left:100px;">
        </div>
        <div class="rgb(52,73,94)">
          <h6 style="color:rgb(52,73,94);margin-right:100px;font-weight:bold;">Complaints<br> Solved</h6>
          <p style="color:rgb(52,73,94);text-align:center;font-size:50px;margin-right:200px;font-weight:bold;">{{ solved_comp }}</p>
        </div>
      
              
      </div>

       <div class="container" >
       <br />
       <h6 style="color:rgb(52,73,94);margin-left:28%;font-weight:bold;">ANAND MUNICIPAL CORPORATION</h6>
      
       </div>

    </div>
    <br />
    <div class="container">
    
      <div class="row">
        <div class="col-md-4">
           
          <h7 style="color:rgb(52,73,94);font-weight:bold;">ABOUT US</h7>
            
          <p style="font-size:10px;font-weight:bold;" >Anand is the administrative centre of Anand District in the state of Gujarat, India. It is administered by Anand Municipality. It is part of the region known as Charotar, consisting of Anand and Kheda Districts.</p>
        </div>
        <div class="col-md-4">
          <h7 style="color:rgb(52,73,94);font-weight:bold;">RECENT COMPLAINS</h7>
          <p style="font-size:10px;font-weight:bold;">Get the most recently reported complains here. For details click below :</p>
          
          
       </div>
        <div class="col-md-4">
          <h7 style="color:rgb(52,73,94);font-weight:bold;">HELP AND FAQ</h7>
          <p style="font-size:10px;font-weight:bold;">See this section on how to complain using our website.Get your other doubts cleared and have a look at the frequently answered questions.Click below </p>
          
        </div>
      </div>

      <div class="container" >
      <div class="row">
        <div class="col-md-4">
          <p><a class="btn btn-default" style="margin-bottom:50px;" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          
        <p><a class="btn btn-default" style="margin-bottom:50px;" href="{% url 'complaint_portal:all_complains' %}" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          
          <p><a class="btn btn-default" style="margin-bottom:50px;" href="{% url 'complaint_portal:faq' %}" role="button">View details &raquo;</a></p>
        </div>
      </div>
      </div>

     

      
      </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    


{% endblock %}