{% load staticfiles %}
<head>
<title>Middlemen</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
<link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
</head>

<div class="container">
	<nav class="navbar navbar-inverse navbar-embossed " role="navigation">
		<div class="collapse navbar-collapse" id="navbar-collapse-01">
		    <ul class="nav navbar-nav">
				<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By Place<b class="caret"></b></a>
				<ul class="dropdown-menu">
				<li><a href="{% url 'complaint_portal:middlemen' %}">All</a></li>	
				{% for place in places %}
					<li><a href="{% url 'complaint_portal:mloc_filter' place.id %}">{{ place.local_name }} </a></li>
				{% endfor %}
				</ul>
				</li>
				<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By Type<b class="caret"></b></a>
				<ul class="dropdown-menu">
				<li><a href="{% url 'complaint_portal:middlemen' %}">All</a></li>	
				{% for type in types %}
					<li><a href="{% url 'complaint_portal:mtype_filter' type.id %}">{{ type.name }} </a></li>
				{% endfor %}
				</ul>
				</li>
				{% if user.is_authenticated and user.is_staff %}
				<li><a href="{% url 'complaint_portal:middlemen' %}">{{user.username}}</a></li>
				<li><a href="{% url 'complaint_portal:mlogout' %}">Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">
		Title
		<span style="position:absolute; left:650">Complain Type</span>
		<span style="position:absolute; left:900">Complain Place</span>
		<span style="position:absolute; left:1100">Complain Date</span>
		</h2>
	</div>
</div>		
<form method="post" action="{% url 'complaint_portal:forward_reject' %}">
{% csrf_token %}
<div class="panel-group" id="accordion">
{% for f in complain %}
	<div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	      <input type="checkbox" name="sel_complain" value="{{f.id}}"/>	
	      <a data-toggle="collapse" data-parent="#accordion" href="#{{forloop.counter}}">
	      {{ f.title }}
			<span style="position:absolute; left:650">{{f.type_of_complain}}</span>
			<span style="position:absolute; left:900">{{f.complain_place}}</span>
			<span style="position:absolute; left:1100">{{f.complain_date}}</span>
	      </a>  
	      </h4>
	    </div>
	    {% if forloop.counter != -1 %}
	    	<div id="{{forloop.counter}}" class="panel-collapse collapse">
	    {% else %}	
	    	<div id="{{forloop.counter}}" class="panel-collapse collapse in">
	    {% endif %}	
	      <div class="panel-body">	
	      <b>Description:</b>{{ f.description }}<br />
	      <b>Address:</b>{{ f.complain_address }} <br />
	      <b>Username: </b>{{ f.c_user.username }} 
	       &nbsp;&nbsp;&nbsp;
	      <a href="{% static f.complain_image %}" target="_blank">Link to Image</a>
	      </div>
	    </div>
	  </div>
	{% endfor %}
	</div>
</div>
<br />
<br />
<input type="submit" name="reject" class="btn btn-danger" value="Reject" style="position:relative; top:80%; left:40%;">
<input type="submit" name="forward" class="btn btn-success" value="Forward" style="position:relative; top:80%; left:50%;">
</form>