{% extends 'base_profile.html' %}
{% load staticfiles %}

{% block mytitle %}Update Profile{% endblock %}

{% block css_js %}
<style>
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 10px;
padding-bottom: 10px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
</style>
{% endblock %}


{% block mycontent %}
<div class="jumbotron jumbotron-sm" style="background-image:url('{% static "complaint_portal/images/yellow5.jpg" %}') ;background-repeat:repeat-x;">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-lg-5">
                <h4 class="h4">
                    Profile Update</h4>
            </div>
        </div>
    </div>
</div>      

<div class="container">
	{% if msg %}
		{{ msg }}
	{% endif %}
</div>	
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <!--<div class="well well-sm">-->
                <form action="{% url 'complaint_portal:profile_update' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Username</label>
                            <input type="text" name="username" class="form-control" id="username" value="{{ p_info.username }}" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="password" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                New Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="confirm_password" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Confirm Password</label>
                            <input type="password" name="confirm_password"class="form-control" id="confirm_password" placeholder="Enter username" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="firstname" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Firstname</label>
                            <input type="text" name="firstname" class="form-control" id="firstname" value="{{ p_info.first_name }}" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="lastname" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Lastname</label>
                            <input type="text" name="lastname" class="form-control" id="lastname" value="{{ p_info.last_name }}" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="phone" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Phone</label>
                            <input type="text" name="phone" class="form-control" id="phone" value="{{ profile_info.phone }}" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" name="email" class="form-control" id="email" value="{{ p_info.email }}" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="locality" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Locality</label>
                            <select id="locality" name="locality" class="form-control" required="required">
                                {% for place in places %}
									{% ifnotequal place.local_name profile_info.locality %}
										<option value="{{ place.local_name }}">{{ place.local_name }}</option>
									{% else %}
										<option value="{{ place.local_name }}" selected="selected">{{ place.local_name }}</option>
									{% endifnotequal %}	
								{% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address" style="color:#FFFFFF;font-weight:bold;font-size:18px;">
                                Address</label>
                            <textarea name="address" id="address" class="form-control" rows="9" cols="25" required="required"
                                value="{{ profile_info.address }}">{{ profile_info.address }}</textarea>
                        </div>
                        <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-left" id="complainbtn" value="Update">
                            Update</button>
                    	</div>	
                    </div>
                 	
                </div>
                </form>
            <!--</div>-->
        </div>
    </div>
</div>  
</div>
{% endblock %}
