{% extends 'base_index.html' %}
<!--Authors:Saurabh,Noopur
ranking of users
-->
{% load staticfiles %}
{% block title %}Ranking{% endblock %}
{% block css_js %}
<style>
    	.row{
		    margin-top:40px;
		    padding: 0 10px;
		}
		.clickable{
		    cursor: pointer;   
		}

		.panel-heading div {
			margin-top: -18px;
			font-size: 15px;
		}
		.panel-heading div span{
			margin-left:5px;
			background-color:#000000
		}
		.panel-body{
			display: none;
		}
</style>
{% endblock %}

{% block content %}
	<div class="container">
	<div style="color:#fff">
	{% if user.is_authenticated %}
	    {% for users in users_rank %}
	       {% if users.user.username == user.username %}
	         <p> Your current rank is {{ forloop.counter }}.</p>
	        {% endif %}
	     {% endfor %}
    {% endif %}
	The users are ranked below by the total number of upvotes for all their complaints.
	</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading" style="background-color:#000000 ">
						<h3 class="panel-title" style="background-color:#000000;font-family:serif;">Ranking</h3>
						<div class="pull-right">
							
						</div>
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
					</div>
					<table class="table table-hover" id="dev-table">
						<thead style="background-image:url('{% static "complaint_portal/images/squared_metal.png" %}');font-family:serif;">
							<tr>
								<td><b>Rank</b></td>
								<td><b>Name</b></td>
								<td><b>Upvotes</b></td>
							</tr>
						</thead>
						<tbody style="background-image:url('{% static "complaint_portal/images/squared_metal.png" %}');font-family:serif;">
							{% for users in users_rank %}
							<tr>
								<td>{{ forloop.counter }} </td>
								<td>{{ users.user.username }}</td>
								
								<td>{{ users.total_upvotes }} </td>
							</tr>
							{% endfor %}
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>	
	
{% endblock %}		