{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Register{% endblock %}
{% block css_js %}
<style>

.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 10px;
padding-bottom: 10px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
</style>
<script type="text/javascript" src="{% static 'complaint_portal/js/check_password.js' %}"></script>
<script type="text/javascript">
function checkStrength(password)
    {
        //initial strength
        var strength = 0
        
        //if the password length is less than 6, return message.
        if (password.length < 6) { 
            $('#result').removeClass()
            $('#result').addClass('short')
            return 'Too short' 
        }
        
        //length is ok, lets continue.
        
        //if length is 8 characters or more, increase strength value
        if (password.length > 7) strength += 1
        
        //if password contains both lower and uppercase characters, increase strength value
        if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/))  strength += 1
        
        //if it has numbers and characters, increase strength value
        if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/))  strength += 1 
        
        //if it has one special character, increase strength value
        if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/))  strength += 1
        
        //if it has two special characters, increase strength value
        if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
        
        //now we have calculated strength value, we can return messages
        
        //if value is less than 2
        if (strength < 2 )
        {
            $('#result').removeClass()
            $('#result').addClass('weak')
            return 'Weak'           
        }
        else if (strength == 2 )
        {
            $('#result').removeClass()
            $('#result').addClass('good')
            return 'Good'       
        }
        else
        {
            $('#result').removeClass()
            $('#result').addClass('strong')
            return 'Strong'
        }
    }
function validateForm(){
    var isnum = /^\d+$/.test($('#phone').val());
    if(isnum){
        if($('#password').val() != $('#confirm_password').val()){
            $('#confirm_password').focus()
            $('#confirm_result').html('Password does not match')
            return false;

        }
        if(checkStrength($('#password').val())=='Too short' || checkStrength($('#password').val())=='Weak'){
                console.log(checkStrength($('#password').val()))
                $('#password').focus()
                $('#result').html('Password strength not enough')
                return false;
        }
            
        return true;
    }
    else{
       // alert('fsdf');
       $('#complainsubmit').html("Password should be numeric")
       $('#phone').focus() 
        return false;

    }
}
</script>
{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-lg-7">
                <h2 class="h2">
                    Register</h2>
            </div>
        </div>
    </div>
</div>		

<div class="container">
	{% if msg %}
		{{ msg }}
	{% endif %}
</div>	

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form action="{% url 'complaint_portal:register' %}" method="post" onsubmit="return(validateForm());">
                {% csrf_token %}
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">
                                Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Enter username" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="password">
                                Password( >6 char with at least 1 digit)</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" required="required" />
                            <span id="result"></span>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">
                                Confirm Password</label>
                            <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm Password" required="required" />
                            <span id="confirm_result"></span>
                        </div>
                        <div class="form-group">
                            <label for="firstname">
                                Firstname</label>
                            <input type="text" name="first_name" class="form-control" id="firstname" placeholder="Enter firstname" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="lastname">
                                Lastname</label>
                            <input type="text" name="last_name" class="form-control" id="lastname" placeholder="Enter lastname" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="phone">
                                Phone</label>
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="Enter phone no." required="required" />
                            <span id="phonecheck"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="locality">
                                Locality</label>
                            <select id="locality" name="locality" class="form-control" required="required">
                                {% for place in places %}
									<option value="{{ place.local_name }}">{{ place.local_name }}</option>
								{% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="address">
                                Address</label>
                            <textarea name="address" id="address" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Address"></textarea>
                        </div>
                        <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-left" id="complainbtn" class="complainbtn"value="Register">
                            Register</button>
                    	</div>	
                    </div>
                 	
                </div>
                </form>
            </div>
        </div>
    </div>
</div>  
</div>
{% endblock %}
