{% load staticfiles %}
<!--Authors:Saurabh,Amit
user profile of admin
-->
<html>
<head>
	<title>User Profile</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
	<link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
	
</head>


<div class="container">
<div class="">
  <h2 style="color:#428bca;">{{u_info.username }}<small>'s Profile</small></h2>
</div>

<table class="table">
		<tr>
			<th>Fields</th>
			<th>Values</th>
		</tr>
		<tr>
			<th>First Name</th>
			<td>{{u_info.first_name}}</td>
		</tr>
			<th>Last Name</th>
			<td>{{u_info.last_name}}</td>
		<tr>
			<th>Email</th>
			<td>{{u_info.email}}</td>
		</tr>
			<th>Phone number</th>
			<td>{{userinfo.phone}} </td>
		<tr>
			<th>Address</th>
			<td>{{userinfo.address}} </td>
		</tr>
		<tr>
			<th>Locality</th>
			<td>{{userinfo.locality}} </td>
		</tr>
</table>
</div>
<form action="{% url 'complaint_portal:send_mail_user' userinfo.id %}" method="post">
{% csrf_token %}
<div class="container">
<div class="row">
    <div class="col-md-6">
        <div class="form-group">     
		<textarea class="form-control" rows="3" name="content" id="content" placeholder="Enter content for mailing user"></textarea>
		</div>	
		<div class="col-md-12">
            <button type="submit" class="btn btn-primary pull-left" value="Send Mail">
                Send Mail</button>
        </div>
    </div>
</div>        
</div>
</form>