{% load staticfiles %}
<html>
<head>
	<title></title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
	<link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
	
</head>
