{% load staticfiles %}
<html>
<head>
    <title>User Profile</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{% static 'complaint_portal/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'complaint_portal/js/complain.js' %}"></script>
    <link rel="stylesheet" href="{% static 'complaint_portal/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'complaint_portal/css/flat-ui.css' %}">
    
</head>


<div class="container">
<div class="">
  <h2 style="color:#428bca;">Why not satisfied<small>??</small></h2>
</div>
</div>
{% block content %}
<div class="container">
{% if msg %}
	{{ msg }}
{% endif %}
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form action="{% url 'complaint_portal:user_notcomplete_status' complain.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                		<div class="form-group">
                            <label for="description">
                                Description of problem</label>
                            <textarea name="description" id="description" class="form-control" rows="9" cols="25" required="required"></textarea>
                        </div>
                        <div class="col-md-12">
                        <input type="submit" name="notcomplete" class="btn btn-danger" value="Not Complete" onclick="return confirm('Are you sure you want to mark complain as Not Complete?')" >
        				</div>	
                    </div>
                </div>
            	</form>
                <a href="{% url 'complaint_portal:mycomplains' %}">Back</a>
            </div>
        </div>
    </div>
</div>            
{% endblock %}	        	